@inherits LayoutComponentBase
@inject NavigationManager UriHelper
<div class="page">
	
	<div class="sidebar">
		<NavMenu userData="@userData"/>
	</div>
	
	<main >
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>
		<CascadingValue Value="userData">
			<article class="content px-4">
			@Body
		</article>
		</CascadingValue>
		
	</main>
</div>

